
body {
    margin: 0;
    padding: 0;
    background-color: #75AECF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.login-box {
    background-color: #003645;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    color: white;
}

.login-box input {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    background-color: white;
    color: #007093;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-box a {
    color: #ffffff;
    text-decoration: underline;
}

.logo-box img {
    width: 350px;
    display: block;
    margin: auto;
}
