body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;     
    background-color: #b8e6ff; 
}

.container {
  background: #ffffff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 320px;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin: 10px 0;
  box-sizing: border-box;
}

.forgot {
  font-size: 14px;
  color: #0077ff;
  text-decoration: none;
  display: inline-block;
}

.forgot:hover {
  text-decoration: underline;
}

.btn {
  background: #6cb6d9;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 17px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #5aa8cc;
}

.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #6400ff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
